<%- include("admin-partials/admin-header.ejs") -%>

<main class="main-dashboard">
    <div class="container-fluid">

        <!-- Error Handling -->
        <div class="row">
            <div class="col-md-12">
                <% if (typeof error !== 'undefined' ) { %>
                    <% if (error.code === 'ERROR') { %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <span><%= error.msg %></span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
        <!-- /Error Handling -->

        <!-- CREATE Student -->
        <div class="row">
            <div class="col-md-12">
                <%- include("admin-btn/admin-students-btn/admin-student-create.ejs") -%>
            </div>
        </div>
        <!-- /CREATE Student -->

        <!-- Student Data Table -->
        <div class="row">
            <div class="col-md-12 mt-2">
                <div class="card">

                    <!-- Card Header -->
                    <div class="card-header fw-bold table-responsive text-center">Student List</div>
                    <!-- /Card Header -->

                    <!-- Card Body -->
                    <div class="card-body table-responsive">

                        <!-- Table -->
                        <table class="table table-hover">

                            <!-- Table Header -->
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Degree</th>
                                    <th>Major</th>
                                    <th>Registration Status</th>
                                    <th>Scholarship</th>
                                    <th style="width: 0">Details</th>
                                    <th style="width: 0">Update</th>
                                    <th style="width: 0">Delete</th>
                                </tr>
                            </thead>
                            <!-- /Table Header -->

                            <!-- Table Body -->
                            <tbody>
                                <% if (typeof foundStudents !== 'undefined' ) { %>
                                    <% foundStudents.forEach((student)=> { %>
                                        <tr>
                                            <td><%= student.studentId %></td>
                                            <td><%= student.firstName %> <%= student.lastName %></td>
                                            <td><%= student.degreeShort %></td>
                                            <td><%= student.major %></td>
                                            <td>
                                                <% if (student.registrationStatus === true) { %>
                                                    <span style="color: green; font-weight: bold">Registered</span>
                                                <% } else { %>
                                                    <span style="color: red; font-weight: bold">Unregistered</span>
                                                <% } %>
                                            </td>
                                            <th>NULL</th>
                                            <td>
                                                <form action="/admin-students" method="post">

                                                    <!-- CRUD Information -->
                                                    <input type="hidden" name="CRUD" value="ADMIN_STUDENT_DETAILS">
                                                    <input type="hidden" name="student" value="<%= student %>">
                                                    <!-- /CRUD Information -->

                                                    <button type="button"
                                                            class="btn btn-outline-info"
                                                            onclick="this.parentNode.submit();">
                                                        <i class="bi bi-fullscreen-exit"></i>
                                                    </button>
                                                </form>
                                            </td>
                                            <td>
                                                <!-- UPDATE Student -->
                                                <%- include("admin-btn/admin-students-btn/admin-student-update.ejs", {student: student}) -%>
                                                <!-- /UPDATE Student -->
                                            </td>
                                            <td>
                                                <!-- DELETE Student -->
                                                <%- include("admin-btn/admin-students-btn/admin-student-delete.ejs", {student: student}) -%>
                                                <!-- /DELETE Student -->
                                            </td>
                                        </tr>
                                    <% }); %>
                                <% } %>
                            </tbody>
                            <!-- /Table Body -->
                        </table>
                        <!-- Table -->
                    </div>
                    <!-- /Card Header -->
                </div>
            </div>
        </div>
        <!-- /Student Data Table -->
    </div>
</main>

<%- include("admin-partials/admin-footer.ejs") -%>