<%- include("faculty-partials/faculty-header.ejs") -%>

<main class="main-dashboard pt-0">
    <div class="container-fluid">
        <div class="row">

            <!-- ADD Courses -->
            <div class="row">
                <div class="col mt-2">
                    <%- include("faculty-btn/faculty-courses-btn/faculty-course-add.ejs") -%>
                </div>
            </div>
            <!-- /ADD Courses -->

            <div class="col mt-2">
                <div class="card">
                    <div class="card-header fw-bold text-center">Courses</div>
                    <div class="card-body">
                        <table class="table table-hover">

                            <!-- Table Header -->
                            <thead>
                                <tr>
                                    <th>Course Code</th>
                                    <th>Course Details</th>
                                    <th>Semester</th>
                                    <th style="width: 0">Delete</th>
                                </tr>
                            </thead>
                            <!-- /Table Header -->

                            <!-- Table Body -->
                            <tbody>
                                <% if (typeof foundFaculty !== 'undefined' ) { %>
                                    <% foundFaculty.course.forEach((course)=> { %>
                                        <tr>
                                            <td><%= course.courseCode %></td>
                                            <td><%= course.courseDetails %></td>
                                            <td><%= course.courseSemester%></td>
                                            <td>
                                                <!-- DELETE Course -->
                                                <%- include("faculty-btn/faculty-courses-btn/faculty-course-delete.ejs", {course: course}) -%>
                                                <!-- /DELETE Course -->
                                            </td>
                                        </tr>
                                    <% }); %>
                                <% } %>
                            </tbody>
                            <!-- /Table Body -->

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include("faculty-partials/faculty-footer.ejs") -%>