<%- include("faculty-partials/faculty-header.ejs") -%>

<main class="main-dashboard pt-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-2">
                <div class="card pt-1">
                    <div class="card-body">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Course Code</th>
                                    <th>Course Details</th>
                                    <th>Semester</th>
                                    <th style="width: 0">Grades</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (typeof foundGrades !== 'undefined') { %>
                                    <% foundGrades.forEach((grade) => { %>
                                        <tr>
                                            <td><%= grade.courseCode %></td>
                                            <td><%= grade.courseDetails %></td>
                                            <td><%= grade.semesterName %></td>
                                            <td>
                                                <form action="/faculty-grades" method="post">

                                                    <!-- CRUD Information -->
                                                    <input type="hidden" name="CRUD" value="FACULTY_STUDENT_GRADES">
                                                    <input type="hidden" name="_id" value="<%= grade._id %>">
                                                    <!-- /CRUD Information -->

                                                    <button type="button"
                                                            class="btn btn-outline-dark border-success"
                                                            onclick="this.parentNode.submit();">
                                                        <i class="bi bi-fullscreen-exit"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    <% }); %>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include("faculty-partials/faculty-footer.ejs") -%>