<!-- DROP Course (Button) -->
<% let gradeStatus = '' %>
<% grade.courseStudent.forEach((course) => { %>
    <% if(course.courseStudentGradeStatus === true && course.courseStudentId === studentId) { %>
        <% gradeStatus = 'disabled' %>
    <% } %>
<% }); %>

<button <%= gradeStatus %>
        type="button"
        class="btn btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#studentDropCourse<%= grade._id %>"><i class="bi bi-x-circle"></i>
</button>
<!-- DROP Course (Button) -->

<!-- DROP Course (Floating Form) -->
<div class="modal fade"
     id="studentDropCourse<%= grade._id %>"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog floating-card">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title fw-bold text-muted" id="staticBackdropLabel">Drop Course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form class="row" action="/student-courses" method="post">

                    <!-- CRUD Information -->
                    <input type="hidden" name="CRUD" value="STUDENT_DROP_COURSE">
                    <input type="hidden" name="_id" value="<%= grade._id %>">
                    <!-- /CRUD Information -->

                    <div class="text-center">
                        <img src="/img/cross.png" width="80" height="80" alt="course-logo">
                        <h5 class="p-4 text-muted fw-bold">
                            Do you really want to drop
                            <label style="color: #b70c0c"><%= grade.courseCode %></label> course?
                        </h5>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Drop</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- /DROP Course (Floating Form) -->