<!-- UPDATE Student (Button) -->
<div class="text-center">
    <button type="button"
            class="btn btn-warning"
            data-bs-toggle="modal"
            data-bs-target="#updateStudent<%= foundFaculty._id %>">
        <i class="bi bi-pen"></i> Update Faculty Information
    </button>
</div>

<!-- UPDATE Student (Button) -->

<!-- UPDATE Student (Floating Form) -->
<div class="modal fade" id="updateStudent<%= foundFaculty._id %>" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog floating-card">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Update Personal Information <i class="bi bi-pen"></i>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row" action="/faculty-profile" method="post">

                    <input type="hidden"
                           name="_id"
                           value="<%= foundFaculty._id %>">

                    <div class="col-md-12">
                        <label for="phone" class="form-label">Cell Phone</label>
                        <input type="text"
                               class="form-control"
                               id="phone"
                               name="phone"
                               value="<%= foundFaculty.phone %>"
                               placeholder="<%= foundFaculty.phone %>">
                    </div>

                    <div class="col-md-6 mt-3">
                        <label for="dob" class="form-label">Date of Birth</label>
                        <input type="date"
                               class="form-control"
                               id="dob"
                               name="dob"
                               value="<%= foundFaculty.dob %>"
                               placeholder="<%= foundFaculty.dob %>">
                    </div>

                    <div class="col-md-6 mt-3">
                        <label for="citizenship" class="form-label">Citizenship</label>
                        <input type="text"
                               class="form-control"
                               id="citizenship"
                               name="citizenship"
                               value="<%= foundFaculty.citizenship %>"
                               placeholder="<%= foundFaculty.citizenship %>">
                    </div>

                    <div class="col-md-12 mt-3 mb-4">
                        <label for="address" class="form-label">Mailing Address</label>
                        <input type="text"
                               class="form-control"
                               id="address"
                               name="address"
                               value="<%= foundFaculty.address %>"
                               placeholder="<%= foundFaculty.address %>">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /UPDATE Student (Floating Form) -->